# Pandas Review using a Pokemon Dataset

In [1]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/\
194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

### Practice Exercises

#### 1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [2]:
df.shape,\
df.dtypes,\
df.columns,\
df.describe()

((800, 13),
 #              int64
 Name          object
 Type 1        object
 Type 2        object
 Total          int64
 HP             int64
 Attack         int64
 Defense        int64
 Sp. Atk        int64
 Sp. Def        int64
 Speed          int64
 Generation     int64
 Legendary       bool
 dtype: object,
 Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
        'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
       dtype='object'),
                 #      Total          HP      Attack     Defense     Sp. Atk  \
 count  800.000000  800.00000  800.000000  800.000000  800.000000  800.000000
 mean   362.813750  435.10250   69.258750   79.001250   73.842500   72.820000
 std    208.343798  119.96304   25.534669   32.457366   31.183501   32.722294
 min      1.000000  180.00000    1.000000    5.000000    5.000000   10.000000
 25%    184.750000  330.00000   50.000000   55.000000   50.000000   49.750000
 50%    364.500000  450.00000   65.000000   75.000000   70.000000   65.000000
 75%    539.250000  515.00000   80.000000  100.000000   90.000000   95.000000
 max    721.000000  780.00000  255.000000  190.000000  230.000000  194.000000

           Sp. Def       Speed  Generation
 count  800.000000  800.000000   800.00000
 mean    71.902500   68.277500     3.32375
 std     27.828916   29.060474     1.66129
 min     20.000000    5.000000     1.00000
 25%     50.000000   45.000000     2.00000
 50%     70.000000   65.000000     3.00000
 75%     90.000000   90.000000     5.00000
 max    230.000000  180.000000     6.00000  )

In [3]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### 2. Change all the column names
      - lowercase letters
      - remove whitespace
      - remove periods

In [6]:
df.columns = [col.lower().replace('.','').replace(' ','').strip() for col in df.columns]

In [8]:
df.head()

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### 3. What is the highest HP value present?

* 255HP

In [10]:
df.hp.max()

255

#### 4. Which Pokemon possess(es) the highest HP value?
- note: the `name` column is the pokemon name

* Blissey

In [11]:
df[ df.hp == df.hp.max()]

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

#### 5. How many different types are represented in Type 1? What are they?

* 18, water, normal, grass, bug, psychic, fire, electric, rock, dragon, ground, ghost, dark, poison, steel, fighting, ice, fairy, flying

In [105]:
df.type1.nunique(), df.type1.value_counts() # uniques in type1 with list

(18,
 Water       112
 Normal       98
 Grass        70
 Bug          69
 Psychic      57
 Fire         52
 Electric     44
 Rock         44
 Dragon       32
 Ground       32
 Ghost        32
 Dark         31
 Poison       28
 Steel        27
 Fighting     27
 Ice          24
 Fairy        17
 Flying        4
 Name: type1, dtype: int64)

#### 6. Number of Pokemon whose Type 2 is Ghost

* 14

In [16]:
df.type2.value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: type2, dtype: int64

In [52]:
df_type_2 = df [df.type2.str.endswith('ost', na=False)].count()

In [103]:
df_type_2 # number whose Type 2 is ghost

#             14
name          14
type1         14
type2         14
total         14
hp            14
attack        14
defense       14
spatk         14
spdef         14
speed         14
generation    14
legendary     14
dtype: int64

#### 7. Percentage of Pokemon whose Type 2 is Ghost

* 1.75%

In [57]:
df_type_2 / len(df) * 100

#             1.75
name          1.75
type1         1.75
type2         1.75
total         1.75
hp            1.75
attack        1.75
defense       1.75
spatk         1.75
spdef         1.75
speed         1.75
generation    1.75
legendary     1.75
dtype: float64

#### 8. Number of Pokemon whose Attack is greater than Defense

* 433

In [102]:
df [df.attack > df.defense].count() # counting number of Pokemon att > def

#             433
name          433
type1         433
type2         223
total         433
hp            433
attack        433
defense       433
spatk         433
spdef         433
speed         433
generation    433
legendary     433
dtype: int64

#### 9. What is the slowest speed for Grass type (either type 1 or type 2)

* 10

In [124]:
df [(df.type1 == 'Grass') | (df.type2 == 'Grass')].speed.min()

10

#### 10. Find the average speed by Generation

* 1: 72.58
* 2: 61.81
* 3: 66.92
* 4: 71.34
* 5: 68.08
* 6: 66.44

In [145]:
df.groupby('generation').speed.mean().round(2)

generation
1    72.58
2    61.81
3    66.92
4    71.34
5    68.08
6    66.44
Name: speed, dtype: float64

#### 11. How many LEGENDARY Pokemon are DRAGON type?

* 16

In [143]:
df [((df.type1 == 'Dragon') | (df.type2 == 'Dragon')) & (df.legendary == True)]

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
417,380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
419,381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
425,384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
540,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
541,484,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
706,643,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True
710,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True